@import "variables";

:global {
  ::-webkit-scrollbar {
    width: @scrollBarSize;
  }

  ::-webkit-scrollbar-track {
    background: @colorMediumBg;
  }

  ::-webkit-scrollbar-thumb {
    background: @colorDarkBg;
  }

  //* {
  //  cursor: none !important;
  //}
}