@import "variables";

.appBar {

  .logo {
    margin-right: 100px;
    margin-left: 100px;
    width: 120px;
    height: 60px;
  }
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  height: 100px;
  flex-shrink: 0;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  background: rgb(29,63,108);
  background: linear-gradient(90deg, rgba(29,63,108,1) 0%, rgba(67,105,150,1) 68%, rgba(73,130,185,1) 100%);


  .logo {
    margin-right: 100px;
    margin-left: 100px;
    width: 120px;
    height: 60px;
  }
}

